body {
  grid-template: 1fr / 1fr;
  align-items: center;
}

.card {
  margin: 12rem;
  max-width: 75%;
  grid-template: 1fr / 1fr auto;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.card-picture {
  border-radius: 0 1rem 1rem 0;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-content: center;
  align-content: center;
}

.card-picture__image-mobile {
  display: none;
}

.card-picture__image-desktop {
  display: block;
  width: auto;
  height: 100%;
}

.card-content {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding: 5rem;
  text-align: left;
}

.content__title {
  font-size: 3.8rem;
}

.content__paragraph {
  font-size: 1.8rem;
  margin: 3rem 0 3rem 0;
}

.content__stats {
  flex-direction: row;
  justify-content: space-between;
}

.stat {
  margin: 3rem 2rem 0 0;
}

.attribution {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: end;
  z-index: 2;
}
